.task-3, .task-4 {
  width: 70%;
  margin: 0 auto;

  display: none;
}

.list {
  display: flex;
  /*flex-wrap: wrap;*/
  padding-top: 50px;
}

/*img {
  display: block;
  width: 100%;
  height: auto;
}*/
